menu "i.MX SoC drivers"

config IMX7_PM_DOMAINS
	bool "i.MX7 PM domains"
	depends on SOC_IMX7D || (COMPILE_TEST && OF)
	depends on PM
	select PM_GENERIC_DOMAINS
	default y if SOC_IMX7D

config IMX_BOOT_CONSTRAINT
	bool "i.MX Boot Constraints"
	depends on ARCH_MXC
	select DEV_BOOT_CONSTRAINT
	default y
	help
	  Say y here to enable Boot Constraints on i.MX platforms.

endmenu
