#
# Snapshot Boot related configurations
#

menuconfig SNSC_SSBOOT
	bool "Snapshot Boot support"
	depends on !HIBERNATION
	depends on SNSC
	default n
	select SUSPEND

config SNSC_SSBOOT_DEBUG
	bool "Snapshot Boot debugging support"
	depends on SNSC_SSBOOT
	default n

config SNSC_SSBOOT_DEBUG_SECTION
	bool "Show section information"
	depends on SNSC_SSBOOT_DEBUG
	default n

config SNSC_SSBOOT_PAGE_STAT
	bool "Show page statistics information"
	depends on SNSC_SSBOOT
	default y

config SNSC_SSBOOT_NO_KERNEL
	bool "Exclude kernel R/O sections"
	depends on SNSC_SSBOOT
	default n

config SNSC_SSBOOT_DETECT_ZERO_PAGES
	bool "Find zero cleared pages"
	depends on SNSC_SSBOOT
	default n

config SNSC_SSBOOT_PAGE_ATTR_DUMP
	tristate "Page Attr Dump Writer support"
	depends on SNSC_SSBOOT
	default n

config SNSC_SSBOOT_PAGE_ATTR_DUMP_FILE_NAME
	string "Page Attr Dump Writer filename"
	depends on SNSC_SSBOOT_PAGE_ATTR_DUMP
	default "/tmp/page_attr_dump.txt"

config SNSC_SSBOOT_IMGVER
	bool "Embed version information into images"
	depends on SNSC_SSBOOT
	default n

config SNSC_SSBOOT_SBI
	tristate "SBI writer support"
	depends on SNSC_SSBOOT
	default y

config SNSC_SSBOOT_SBI_FILE
	tristate "Generic SBI file writer"
	depends on SNSC_SSBOOT_SBI
	default y

config SNSC_SSBOOT_SBI_FILE_NAME
	string "Default SBI filename"
	depends on SNSC_SSBOOT_SBI_FILE
	default "/ssboot.sbi"

config SNSC_SSBOOT_SBI_SECTION_ENCRYPTION
        bool "SBI section encryption"
        depends on SNSC_SSBOOT_SBI
        default n

config SNSC_SSBOOT_SBI_DECRYPTION_SELF_TEST
	bool "SBI section decryption self test"
	depends on SNSC_SSBOOT_SBI_SECTION_ENCRYPTION
	default n

config SNSC_SSBOOT_SBI_CKSUM
	bool "Add checksum to SBI images"
	depends on SNSC_SSBOOT
	default n

