comment "SNSC instrumentation options"
	depends on SNSC

config SNSC_DEBUG_PROFILE_HEAP
	bool "Heap usage profiling support"
	depends on SNSC
	default n
	help
	  Memory usage profile support. The system memory states
	  and the timestamp when kernel calling functions
	  __vm_enough_memory() and try_to_freepages() will be
	  recorded to /proc/profile_heap.

config SNSC_DEBUG_PROFILE_HEAP_RECORDS_NUM
	int "Number of heap profile records"
	depends on SNSC_DEBUG_PROFILE_HEAP
	default 7000

config SNSC_DEBUG_PROFILE_HEAP_RINGBUFF
	bool "Heap profile ring buffer mode"
	depends on SNSC_DEBUG_PROFILE_HEAP
	default y
	help
	  If is set to No, write to /proc/profile_heap over
	  max number of records will be discarded.
	  This option will enables wrapping to begining of records
    	  and overrides old records.

config SNSC_BOOT_TIME
	bool  'Boot time analysis'
	depends on SNSC

choice
	prompt "Boot time version"
	depends on SNSC
	depends on SNSC_BOOT_TIME
	default SNSC_BOOT_TIME_VERSION_2

config SNSC_BOOT_TIME_VERSION_1
	bool "Boot time version 1"
	depends on SNSC_BOOT_TIME
	help
		This version does not support the configurable max comment
	  	length and the ringbuffer.

config SNSC_BOOT_TIME_VERSION_2
	bool "Boot time version 2"
	depends on SNSC_BOOT_TIME
	help
		This version supports the configurable max comment length
		and the ringbuffer.
endchoice

config SNSC_BOOT_TIME_MAX_COMMENT
	int 'Max comment length for boot time'
	depends on SNSC
	depends on SNSC_BOOT_TIME
	depends on SNSC_BOOT_TIME_VERSION_2
	range 24 128
  	default 24
	help
		The value of SNSC_BOOT_TIME_MAX_COMMENT should be
		4bytes aligned.

config SNSC_BOOT_TIME_RINGBUFFER
	bool 'use the boot time ringbuffer mode'
	depends on SNSC
	depends on SNSC_BOOT_TIME
	depends on SNSC_BOOT_TIME_VERSION_2
	default n

config SNSC_BOOT_TIME_USE_NBLARGS
	bool 'Use NBLArgs for boot time save area'
	depends on SNSC
	depends on SNSC_NBLARGS
	depends on SNSC_BOOT_TIME

config SNSC_DEFAULT_BOOT_TIME_BASE
	hex 'Default base addresss of boot time save area'
	depends on SNSC
	depends on SNSC_BOOT_TIME
	default 0x80800000 if ARCH_MX3
	default 0x10800000 if ARCH_OMAP
	default 0x00800000 if ARCH_REALVIEW
	default 0x80800000 if ARCH_NE1
	default 0x40002000 if ARCH_EMXX
	default 0x30000000 if X86
	default 0x100201000 if ARCH_TEGRA_18x_SOC

config SNSC_DEFAULT_BOOT_TIME_SIZE
	hex 'Default size of boot time save area'
	depends on SNSC
	depends on SNSC_BOOT_TIME
	default 0x8000

config SNSC_LCTRACER
	bool "Lite Context Tracer support"
	default n
	help
		Say Y to enable the measurement tool of lite context tracer.

config SNSC_LCTRACER_BUF_SIZE_KB
	int "Buffer size of measurement data (KB)"
	depends on SNSC_LCTRACER
	default 4096
	help
		Set buffer size for storing measurement data.
		If the buffer size is specified by kernel parameter, this value will be ignored.

config SNSC_LCTRACER_FILE_PATH
	string "Saving path for storing data"
	depends on SNSC_LCTRACER
	default "/var/log/lctracer"
	help
		Set absolute path of storing data in file system.
